/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "FuturaPT-Heavy";

  src: url("futura-pt-heavy.woff") format("woff"),
    /* Modern Browsers */
    url("futura-pt-heavy.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}