* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: #464f54;
    padding-top: 148px;
}

h1 {
    color: #2a2a2a;
    font-size: 78px;
    font-family: "FuturaPT-Heavy";
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
    color: #8f8f8f;
    font-size: 30px;
    padding-bottom: 55px;
    font-family: "Georgia-Italic"sans-serif;
}

p {
    font-size: 26px;
    text-align: justify;
    font-family: "Georgia", sans-serif;
    padding-bottom: 36px;
}

.wrapper {
    width: 1225px;
    margin-top: 47px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.wrap input[type="text"] {
    background-color: #181818;
    width: 100%;
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    color: #fff;
    outline: none;
    border: none;
    border: 2px solid transparent;
    margin-bottom: 21px;
    text-transform: capitalize;
}

.header {
    position: relative;
    background-color: #181818;
    color: #444444;
    font-family: "ProximaNova-Regular";
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding-top: 50px;
    padding-left: 64px;
    padding-bottom: 50px;
}

.line {
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 1158px;
    border: 2px solid #303030;
    padding-left: 60px;
    margin-right: 0;
}

.item {
    width: 1160px;
    background-color: #f9be2d;
    margin-right: 0;
}

.menu {
    list-style: none;
    padding-top: 24px;
    padding-left: 42px;
    padding-bottom: 20px;
}

.menu li {
    display: inline-block;
    font-size: 26px;
    padding-right: 30px;
}

.menu li a {
    color: #fadd94;
    text-decoration: none;
}

.menu a:hover {
    color: #fff;
}

.content {
    position: relative;
    width: 1062px;
    background-color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    padding-top: 250px;
    padding-left: 125px;
    padding-right: 130px;
}

.vert_line {
    position: absolute;
    top: 0;
    left: 67px;
    border-left: 2px solid#9d9d9d;
    height: 100%;
}

.date {
    color: #b5b5b5;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: "ProximaNova-Regular";
    padding-bottom: 46px;
}