* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

p:not(#main) {
    color: #9b9890;
    font-size: 12px;
    margin-left: 28px;
}

h2:not(#ma_in) {
    font-size: 20px;
    color: #000;
    margin-left: 28px;
    margin-right: 28px;
}

.container {
    width: 1600px;
    background-color: #e2e7ec;
    padding-top: 91px;
    padding-bottom: 200px;
}

.wrapper {
    width: 1122px;
    height: 1105px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 209px;
}

.first {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    width: 740px;
    height: 540px;
}

.first img {
    position: relative;
    width: 100%;
    height: 100%;
}

#main {
    position: absolute;
    top: 494px;
    left: 460px;
    width: 100%;
    font-size: 12px;
    color: #9b9890;
}

#ma_in {
    position: absolute;
    top: 534px;
    left: 460px;
    font-size: 30px;
    color: #fff;
}

.second {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 360px;
    height: 540px;
    background-color: #fff;
    margin: 0;
}

.second img {
    width: 100%;
    height: 250px;
}

.third {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 360px;
    height: 540px;
    background-color: #fff;
    margin: 0;
}

.third img {
    width: 100%;
    height: 250px;
}

.fourth {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 360px;
    height: 540px;
    background-color: #fff;
    margin: 0;
}

.fourth img {
    width: 100%;
    height: 250px;
    margin-bottom: 35px;
}


.fifth {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 360px;
    height: 540px;
    background-color: #fff;
    margin: 0;
}

.fifth img {
    width: 100%;
    height: 250px;
}

.icon {
    display: inline-flex;
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 120px;
    margin-left: 30px;
}

.icon.icon_1 {
    background-position: -203px 64px;
}

.icon.icon_2 {
    background-position: 1px -20px;
}

.icon.icon_3 {
    background-position: 1px -20px;
}

.icon.icon_4 {
    background-position: 1px -20px;
}