* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hr {
    color: #e9e9e9;
    border: solid 1px;
}

.body {
    font-family: Arial, Helvetica, sans-serif
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1352px;
    /* border: 2px solid #f00*/
}

.header_top {
    background: -moz-linear-gradient(89deg, #be076f 0%, #9d0d4b 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9d0d4b), color-stop(100%, #be076f));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(89deg, #be076f 0%, #9d0d4b 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(89deg, #be076f 0%, #9d0d4b 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(89deg, #be076f 0%, #9d0d4b 100%);
    /* ie10+ */
    background: linear-gradient(1deg, #be076f 0%, #9d0d4b 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d0d4b', endColorstr='#be076f', GradientType=0);
    /* ie6-9 */
}

.header_top .container {
    max-width: 1352px;
    width: 90%;
    margin: 0 auto;
}

.menu {
    margin-left: 228px;
}

#main_menu {
    list-style: none;
}

#main_menu li {
    display: inline-block;
    border-right: 1px solid #5a0330;

}

#main_menu li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    height: 41px;
    line-height: 28px;
    padding: 10px 24px;
    margin-left: 4px;
    font: normal 100% 'trebuchet ms', sans-serif;
}

#main_menu li a:hover {
    background-color: #770444;
}

.header_bottom {
    height: 262px;
    background-color: #000;
}

.header_bottom .container {
    height: 262px;
    background-image: url('../img/flower.jpg');
    background-position: right 264px center;
    background-repeat: no-repeat;
    padding-top: 1px;
}

.header_bottom .container h1 {
    color: #fff;
    margin: 84px 0 0 222px;
    font-size: 54px;
    font: bold 280% 'trebuchet ms';
}

.header_bottom .container h2 {
    color: #bd0a6c;
    margin: 0 0 0 222px;
    font-size: 16px;
    font: bold 92% 'trebuchet ms';
}

.content .container {
    max-width: 1352px;
    width: 90%;
    height: 800px;
    margin: 0 auto;

}

.post_left {
    width: 648px;
    float: left;
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 0px;
}

.post_left h1 {
    font-size: 33px;
    padding-left: 15px;
}

.post_left h2 {
    font-size: 8px;
    padding-top: 10px;
    padding-left: 15px;
    color: #e7e8e7;
}

.post_left h3 {
    font-size: 10px;
    background-color: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.post_left .colortext {
    color: #b10d6c;
}

.post_left p {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 15px;
}

.post_left a {
    text-decoration: none;
    padding-right: 20px;
}

.post_middle {
    width: 242px;
    height: 750px;
    float: left;
    background-color: #f2f2f2;
    margin-top: 25px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.post_middle h1 {
    font-size: 16px;
    color: #b10d6c;
}

.post_middle h2 {
    font-size: 12px;
    background-color: #b10d6c;
    margin-top: 28px;
    margin-right: 80px;
    margin-bottom: 20px;
    padding: 2px 10px;
    color: #fff;
}

.post_middle h3 {
    font-size: 12px;
    background-color: #b10d6c;
    margin-top: 28px;
    margin-right: 50px;
    margin-bottom: 20px;
    padding: 2px 10px;
    color: #fff;
}

.post_middle h4 {
    font-size: 12px;
    background-color: #b10d6c;
    margin-top: 28px;
    margin-right: 65px;
    margin-bottom: 20px;
    padding: 2px 10px;
    color: #fff;
}

.post_middle h5 {
    font-size: 12px;
    background-color: #b10d6c;
    margin-top: 28px;
    margin-right: 35px;
    margin-bottom: 20px;
    padding: 2px 10px;
    color: #fff;
}

.post_middle h6 {
    font-size: 12px;
    background-color: #b10d6c;
    margin-top: 28px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 2px 10px;
    color: #fff;
}

.post_middle p {
    text-align: justify;
    padding-bottom: 20px;
    font-size: 14px;
}

.post_right {
    width: 400px;
    float: left;
    padding-top: 10px;
    padding-left: 50px;
    padding-left: 1px;
}

.post_right h1 {
    font-size: 16px;
    color: #b10d6c;
    margin-bottom: 15px;
    margin-top: 40px;
    margin-left: 20px;
}

.side_bar {
    list-style: none;
}

.post_right a {
    text-decoration: none;
    color: #b10d6c;
    font-size: 10px;
    padding-left: 25px;
    line-height: 2em;
}

.footer {
    background-color: #000;
}

.footer .container {
    max-width: 1352px;
    width: 90%;
    height: 140px;
    margin: 0 auto;
}

.footer .container p {
    font-size: 10px;
    text-align: center;
    color: #fff;
    padding-top: 30px;
}

.background {
    background-color: #b10d6c;
    padding: 2px 10px;
}