/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "GothamMedium";
    src: url("fonts/GothamMediumRegular.woff") format("woff"), /* Modern Browsers */
    url("fonts/GothamMediumRegular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "Gotham-Bold";
    src: url("fonts/gothambold1.woff") format("woff"), /* Modern Browsers */
    url("fonts/gothambold1.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */

@font-face {
    font-family: "Gotham-Book";
    src: url("fonts/GothamBook.woff") format("woff"), /* Modern Browsers */
    url("fonts/GothamBook.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}