* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d1c1c;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.wrap {
    padding-top: 109px;
}

.clearfix::after {
    clear: both;
    content: '';
    display: block;
}

.item {
    float: left;
    width: 360px;
    text-align: center;
}

.center_item {
    margin: 0 30px;
}

.icon {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: #ffae00;
    border-radius: 18px 0 18px 0;
    margin-bottom: 40px;
    background-image: url('../img/file.png');
    background-repeat: no-repeat;
}

.icon.icon_1 {
    background-position: 26px 21px;
}

.icon.icon_2 {
    background-position: -110px 21px;
}

.icon.icon_3 {
    background-position: -228px 21px;
}

.item h2 {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}